:root {
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --logo-accent-color: #000000;
  --primary-accent-color: #2196f3;
  --primary-background-color: #2f303a;
  --primary-white: #ffffff;
  --secondary-white: rgba(255, 255, 255, 0.6);
  --primary-dark-color: #212121;
  --text-color: #757575;
}

body {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* ===== HEADER ===== */
.page-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-accent-color);
}

.header-logo-accent {
  color: var(--logo-accent-color);
}

.nav-link {
  color: var(--primary-dark-color);
}

.nav-link.current {
  color: var(--primary-accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--primary-accent-color);
}

.contact-link {
  color: var(--text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--primary-accent-color);
}
/* ===== END HEADER ===== */

/* ===== HERO ===== */
.hero {
  background-color: var(--primary-background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white);
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white);
  background-color: var(--primary-accent-color);
  cursor: pointer;
}
/* ===== END HERO ===== */

/* ===== FEATURES ===== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-dark-color);
}
/* ===== END FEATURES ===== */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-dark-color);
}

/* ===== TEAM SECTION ===== */
.team {
  font-size: 16px;
  letter-spacing: 0.03em;
}

.team-name {
  font-weight: 500;
  line-height: 1.19;
  color: var(--primary-dark-color);
}

.team-position {
  line-height: 0.84;
}
/* ===== END TEAM SECTION ===== */

/* ===== PORTFOLIO ===== */
.portfolio-button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-dark-color);
  cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button.current {
  color: var(--primary-white);
  background-color: var(--primary-accent-color);
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-dark-color);
}

.project-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* ===== END PORTFOLIO ===== */

/* ===== FOOTER ===== */
.footer {
  background-color: var(--primary-background-color);
}

.address {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-logo-accent {
  color: var(--primary-white);
}

.footer-location {
  color: var(--primary-white);
}

.footer-contact {
  color: var(--secondary-white);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--primary-white);
}
/* ===== END FOOTER ===== */
